@import (reference) "~variables";
@import (reference) "~helpers";

ul, ol {
  padding-left: 1.3rem;
}

a[target="_blank"]:after {
  font-size: 0.5rem;
}

.schemable({
  @code-typeface: monospace;

  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;

  .doc-content {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
  }

  .token.atrule, .token.attr-value, .token.keyword {
    color: @plain-link;
  }

  code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
    font-family: @code-typeface;
    overflow: visible;
  }

  .property-tag__description,
  .property-tag__default-value,
  .doc-entity__description,
  .doc-entity__tags {
    margin-left: 0;
  }

  .doc-entity + .doc-entity {
    margin-top: 2rem;
    border-top: 1px dashed @border-color;
    padding-top: 1rem;
  }

  .tag-group__header {
    list-style: none;
    letter-spacing: inherit;
  }

  img[src*="career-router.svg"] {
    margin-bottom: 1rem;
  }

  .layout__sidebar-header {
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .class-view__type-def-list {
    padding-left: 0;
  }

  .class-view__type-def-list .doc-entity__header,
  .class-view__type-def-list .doc-entity__description {
    margin-left: 0;
  }

  .doc-entity__header {
    font-family: @code-typeface;
  }

  .doc-entity__method-params,
  .doc-entity__function-signature {
    font-family: @code-typeface;
  }

  .doc-group__header {
    border-bottom-style: dashed;
    border-bottom-width: 0.1rem;
    padding-bottom: 0.5rem;
  }

  a.anchorable-heading__link {
    width: 3rem;
    margin-left: -3.5rem;
    position: absolute;
    text-align: right;
    padding-right: 0;
    opacity: 0;
  }

  .api-docs {
    .anchorable-heading__link {
      opacity: 0.5;
    }

    .anchorable-heading:hover .anchorable-heading__link,
    .anchorable-heading__link:hover {
      opacity: inherit;
    }
  }
});